@{
    ViewData["Title"] = "Home Page";
}


<div class="dashboard">
        <div class="notes">
            <h1 class="display-4">Church Management System</h1>
            <p>Explore and manage remittances for your church.</p>
        <h2><a class="button" asp-controller="Account" asp-action="Register">Get Started</a></h2>
        </div>
</div>