html {
    font-size: 10px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    height: 7vh;
    width: 100%;
    background-color: whitesmoke;
}

.title {
    display: flex;
    color: #027c04;
    font-family: 'Fenix', serif;
    justify-content: space-between;
    margin-left: 3.0rem;
    font-size: 1.6rem;
    align-items: center;
    text-decoration: none;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 5.0rem;
}

nav {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center
}

.login-register {
    display: flex;
    align-items: center;
}

    .login-register li.register {
        border-left: 1px solid #858585;
        padding: 10px; /* add some padding to separate the border from the text */
    }
/* NAVBAR */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a, p {
    text-decoration: none;
    color: #858585;
    font-size: 1.0rem;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav li a:hover {
    color: #616161;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #027c04;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li p:hover::after {
    width: 0%;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh; /* Adjust the height as needed */
    width: 100%;
}


.dashboard {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Fenix', serif;
}

.notes {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* color: black;*/
    justify-self: center;
    height: 50vh;
    padding: 20px;
    font-size: 1.6rem;
}

    .notes h2 {
        text-align: center;
    }

    .notes p {
        color: #858585;
    }

.btn-get-started, .btn-login {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-get-started:hover, .btn-login:hover {
        background-color: #0056b3;
    }

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item-account {
    margin-left: 10px; /* Add some spacing between the items */
}

.button {
    text-decoration: none;
    font-family: 'Fenix', serif;
    color: #027c04;
    border: 1px solid #027c04;
    padding: 12px 34px;
    font-size: 1.2rem;
    background-color: whitesmoke;
    cursor: pointer;
    font-weight: lighter;
}

    .button:hover {
        color: white;
        background-color: #027c04;
        transition: 1s;
    }

footer {
    background-color: grey;
    color: #f6f6f6;
    font-size: 1.0rem;
    text-align: center;
    padding: 0.1em;
    width: 100%;
    height: 3vh;
}
