@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS - Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/userindex.css" asp-append-version="true" />

</head>
<body>
    <header>
            <div class="title">
                <h1>CMS</h1>
            </div>
            <div class="menu">
                <nav>
                <ul class="navbar">
                        <li>
                            <a asp-area="" asp-controller="User" asp-action="UserIndex" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Home</a>
                        </li>
                    </ul>
                </nav>
                <nav>
                <p asp-area="">@User.FindFirstValue(ClaimTypes.Email)</p>
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                </ul>
                </nav>
            </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-bottom footer text-muted">
        <div class="container">
            &copy; 2023 - ToDo__List - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
